@model WebApp.Models.Aufgabe

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Aufgabe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschreibung" class="control-label"></label>
                <input asp-for="Beschreibung" class="form-control" />
                <span asp-validation-for="Beschreibung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fälligkeitsdatum" class="control-label"></label>
                <input asp-for="Fälligkeitsdatum" class="form-control" />
                <span asp-validation-for="Fälligkeitsdatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Erstelldatum" class="control-label"></label>
                <input asp-for="Erstelldatum" class="form-control" />
                <span asp-validation-for="Erstelldatum" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Abgeschlossen" /> @Html.DisplayNameFor(model => model.Abgeschlossen)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
